<!DOCTYPE html>
<html>
<head>

	<title>Model visualizer</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width" initial-scale=1>
	<meta name="description" content="dashboard for viewing model-fitting results">
	<meta name="author" content="Niru Maheswaranathan">

	<link rel='stylesheet' href='/lib/c3/c3.css' />
	<link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/css/dashboard.css' />
	<link rel='stylesheet' href='/css/style.css' />

	<script src='/lib/jquery/dist/jquery.min.js' /></script>
	<script src='/lib/underscore/underscore-min.js' /></script>
	<script src='/lib/d3/d3.min.js' charset='utf-8' /></script>
	<script src='/lib/c3/c3.min.js' /></script>

</head>
<body>
	{{> page/navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main">
    		{{{body}}}
			</div>
		</div>
	</div>
</body>
</html>
