body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.barchart div {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.barchart rect {
	fill: steelblue;
}

.barchart text {
	fill: white;
	font: 10px sans-serif;
	text-anchor: end;
}

.border-bottom {
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
