extends layout
block content
  div.row
    div.col-md-12
      h2 Model visualization

  div.row.border-bottom
    div.col-md-12
      p asdf

  div.row

    div.col-md-4
      h4 Options
      p
        form

          div.form-group
            span Choose an experiment:
            select.form-control#expt
              each item in expts
                option= item

          button#update.btn.btn-primary.btn-sm(type="button") Update

    div.col-md-8
      p Objective value
      div#objective

  div.row
    div.col-md-4
      p Correlation coefficient (held out data)
      div#cc
    div.col-md-4
      p Negative log-likelihood (held out data, lower is better)
      div#nll
    div.col-md-4
      p Log-likelihood difference (from mean rate) (held out data, higher is better)
      div#lld

  script(src='/js/client.js')
