doctype html
html
	head
		title Model visualizer

		// CSS
		link(rel='stylesheet', href='/lib/c3/c3.css')
		link(rel='stylesheet', href='/css/style.css')

		// Javascript
		//-script(src='/lib/jquery/dist/jquery.js')
		//-script(src='/lib/handlebars/handlebars.js')
		//-script(src='/lib/ember/ember.js')
		//-script(src='/lib/ember-data/ember-data.js')
		//-script(src='/js/client.js')

	body
		block content
